.place__website {
  display: flex;
  flex-direction: column;
  margin: 0 0 46px;
  padding: 0;
  align-self: end;
  grid-area: url;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .place__website {
    max-width: 288px;
    margin: 0 0 32px;
    padding: 0 16px;
    align-self: start;
  }
}