.place__paragraph_second{
  grid-area: second_paragraph;
  margin: 26px 0 0;
}

@media (max-width: 1023px) {
  .place__paragraph_second {
    margin: 25px 0 0;
  }
}
  
@media (max-width: 767px) {
  .place__paragraph_second {
    margin: 0 16px;
  }
}