.header__logo {
  background-image: url(../../../images/header-logo.svg);
  width: 176px;
  height: 52px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .header__logo {
    width: 142px;
  }
}